<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEqLkcHDjIvNT2P8EQlmpt831CcN69eEg</string>
	<key>GCM_SENDER_ID</key>
	<string>88644784996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studentcompanion.studentCompanion</string>
	<key>PROJECT_ID</key>
	<string>student-companion-d53ec</string>
	<key>STORAGE_BUCKET</key>
	<string>student-companion-d53ec.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88644784996:ios:476a2d3e24680bd407a071</string>
</dict>
</plist>